.furima-footer
  %ul.furima-footer__content
    %li.furima-footer__content__list
      %h2.furima-footer__content__list__top FURIMAについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "root_path" 
        %li
          = link_to "プライバシーポリシー", "root_path" 
        %li
          = link_to "FURIMA利用規約", "root_path"
        %li
          = link_to "ポイントに関する特約", "root_path"
    %li.furima-footer__content__list
      %h2.furima-footer__content__list__top FURIMAを見る
      %ul
        %li
          = link_to "カテゴリー一覧", "root_path"
        %li
          = link_to "ブランド一覧", "root_path"
    %li.furima-footer__content__list
      %h2.furima-footer__content__list__top ヘルプ＆ガイド
      %ul
        %li
          = link_to "FURIMAガイド", "root_path"
        %li
          = link_to "FURIMAロゴ利用ガイドライン", "root_path"
        %li
          = link_to "お知らせ", "root_path"
  = link_to image_tag("logo-white.png", class:"furima-footer__logo"), "root_path"
  %p.furima-footer__p © FURIMA
= link_to new_item_path do
  .sell-btn
    %p.sell-btn__text 出品する
    = image_tag("icon_camera.png", width: "60%")  
