=render partial:’header
.narrow-downitem
  %ul.narrow-downitem__category
    %li.narrow-downitem__category__list
      = link_to "FURIMA" ,root_path 
    %li.narrow-downitem__category__list
      %i.fa.fa-angle-right.icon
    %li.narrow-downitem__category__list
      = link_to "ベビー・キッズ" ,root_path 
    %li.narrow-downitem__category__list
      %i.fa.fa-angle-right 
    %li.narrow-downitem__category__list
      = link_to "ベビー服(男女兼用)~95cm" ,root_path
    %li.narrow-downitem__category__list
      %i.fa.fa-angle-right
    %li.narrow-downitem__category__list
      = link_to "アウター" ,root_path  
    %li.narrow-downitem__category__list
      %i.fa.fa-angle-right
    %li.narrow-downitem__category__list
      = link_to "product3" ,root_path  

.item-main
  .item-main__show-item
    .item-main__show-item__main-content
      .item-main__show-item__main-content__content
        .item-main__show-item__main-content__content__item
          %h.item-main__show-item__main-content__content__item__name product3
          .item-main__show-item__main-content__content__item__image
            %ul.item-main__show-item__main-content__content__item__image__details
              %li.item-main__show-item__main-content__content__item__image__details__pictures
                = image_tag asset_path("a007"), class: 'item-main__show-item__main-content__content__item__image__details__pictures__image'
                %ul.item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures
                  %li.item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list1
                    = image_tag asset_path("a007s"), class: 'item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list1__image',size:"140x87"
                  %li.item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list2
                    = image_tag asset_path("a003"), class: 'item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list2__image',size:"140x87"
                  %li.item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list3
                    = image_tag asset_path("a001"), class: 'item-main__show-item__main-content__content__item__image__details__pictures__sub-pictures__list3__image',size:"140x87"
          .item-main__show-item__main-content__content__item__price
            %span ¥30000
            .item-main__show-item__main-content__content__item__price__other
              %span (税込)
              %span 送料込み
          .item-main__show-item__main-content__content__item__text 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          .item-main__show-item__main-content__content__item__main-table
            %table
              %tbody
                %tr.test1
                  %th 出品者
                  %td hoge
                %tr.test2
                  %th カテゴリー
                  %td 
                    = link_to "ベビー・キッズ","root_path", class:"category1"             
                    = link_to "ベビー服(男女兼用)~95cm","root_path", class:"category2"             
                    = link_to "アウター","root_path", class:"category3"
            
                %tr.test3
                  %th ブランド
                  %td
                %tr.test4
                  %th 商品サイズ
                  %td
                %tr.test5
                  %th 商品の状態
                  %td 未使用に近い
                %tr.test6
                  %th 配送料の負担
                  %td 配送料込み(出品者負担)    
                %tr.test7
                  %th 発送元の地域
                  %td 岩手県
                %tr.test8
                  %th 発送日の目安
                  %td 4-7日で発送

              
          .item-main__show-item__main-content__content__item__option
            %ul
              %li.likeBtn
                %i.fa.fa-star.icon
                = link_to 'お気に入り 0', '#'
            
        .item-main__show-item__main-content__content__comment
          %ul.comments
          %form
            %input.textarea{type: 'text'}
            %p.notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            .comment-button1                
              %input.comment-button{type: 'submit',  value: 'コメントする'}
              %i.fa.fa-comment.icon-comment
              
        %ul.item-main__show-item__main-content__content__link
          %li.left
            %i.fa.fa-angle-left.icon
            = link_to "前の商品" ,root_path 
          %li.right
            = link_to "後ろの商品" ,root_path 
            %i.fa.fa-angle-right.icon

        .item-main__show-item__main-content__more-item
          = link_to "ベビー・キッズをもっと見る" ,root_path

=render partial:’lower-image’
=render partial:’footer’


