.card-wrapper
  %h2.card-title クレジットカード情報入力
  =form_tag(cards_path, method: :post, id: 'charge-form', name: 'chargeForm') do
    %span.payment-errors
    .card-number
      %label カード番号
      %span.required-mark 必須
      %input.number{maxlength: "16", name:"number", placeholder: "半角数字のみ", type: "text"}/
      %ul
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/visa.svg?2226206775', alt: '', height: '20', width: '40', class: ''
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/master-card.svg?2226206775', alt: '', height: '20', width: '40', class: ''
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/jcb.svg?2226206775', alt: '', height: '20', width: '40', class: ''
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/american_express.svg?2226206775', alt: '', height: '20', width: '40', class: ''
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?2226206775', alt: '', height: '20', width: '40', class: ''
        %li
          = image_tag '//pcweb-assets.mercdn.net/assets/img/card/discover.svg?2226206775', alt: '', height: '20', width: '40', class: ''
    .card-cvc
      %label セキュリティコード
      %span.required-mark 必須
      %input.cvc{ maxlength:"3", name: "cvc", placeholder: "CVC", type: "text"}/
    .card-expiration
      %label 有効期限
      %span.required-mark 必須
      .exp_form
        = select_tag(:exp_month, options_for_select(Card::MONTHS))
        %span 月
        = select_tag(:exp_year, options_for_select(Card::YEARS))
        %span 年
    %button.submit-btn{ type: "submit"} 追加する